@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(gambar/bg-2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    background: #032759;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
}

.logo {
    font-size: 32px;
    color: #E1E038;
    text-decoration: none;
    font-weight: 700;  
}

.navbar a {
    font-size: 14px;
    color: #E1E038;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.login {
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 6px 19px;
}

.signin {
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 6px 19px;
}

.from-box{
    color: #000000;
    background-color: #ffffff;
    border: 2px solid black;
    width: 520px;
    margin: 200px auto;
    border-radius: 12px;
    padding: 30px;
    align-items: center;
}

.kata h1 {
    font-size: 38px;
    font-weight: 800px;
}

.kata h4 {
    font-size: 14px;
    font-weight: 300px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 30px 0;
}

.input-box input{
    background: transparent;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255 2);
    border-radius: 5px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;

}

input::placeholder {
    color: black;
}

.input-box i{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(80%);
    font-size: 18px;
}

.Remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin: 16px 0 16px;
}

.Remember-me label input{
    accent-color: #ffffff;
    margin-right: 4px;
}

.Remember-me a{
    color: blue;
}

.btn {
    font-size: 16px;
    color: #E1E038;
    width: 100%;
    padding: 10px 10px;
    font-weight: bold;
    border: 1px solid #032759;
    border-radius: 10px;
    background-color: #032759;
    cursor: pointer;
}

.link-register{
    text-align: center;
    margin-top: 15px;
}

.link-register a{
    color: blue;
}

.pilihan {
    accent-color: #032759;
    font-size: 18px;
}

.kategori{
    padding: 10px 10px;
}

footer {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.cari {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 95px 341px 8px;
}

.cari input{
    background: transparent;
    width: 50%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255 2);
    border-radius: 5px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.cari i{
    position: absolute;
    left: 47%;
    top: 27%;
    font-size: 28px;
}

.menu-kecil {
    position: relative;
    font-size: 16px;
    width: 100%;
    padding: 15px 30px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu-kecil a{
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(224, 224, 224);
    padding: 4px 15px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #032759;
    color: #E1E038;
}

.iklan {
    display: flex;
    justify-content: center;
    height: 302px;
    border-radius: 5px;
}

.favorit h1{
    margin: 30px 35px 15px;
    font-family: "Roboto", sans-serif;
}

.card {
    background-color: #fff;
    margin: 10px;
    border: 1px solid black;
    width: 235px;
    border-radius: 8px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 220px;
}

.card-content {
    padding: 0;
}

.kumpulan-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 30px;
}

.judul{
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    padding: 0 10px 10px;
}

.harga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.harga p{
    color: black;
    font-size: 16px;
    font-weight: 800;
}

.keranjang {
    font-size: 12px;
    color: #E1E038;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid #032759;
    border-radius: 10px;
    background-color: #032759;
    cursor: pointer;
}

.harga-diskon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.harga-diskon p{
    color: black;
    font-size: 12px;
    font-weight: 800;
    margin-right: 1px;
}

.harga-diskon i {
    font-size: 12px;
    font-weight: 100;
    margin-right: 3px;
}

.harga-diskon s{
    color: #9c9c9c;
    font-weight: bold;
}

.keranjang-diskon {
    font-size: 10px;
    color: #E1E038;
    padding: 3px 10px;
    font-weight: bold;
    border: 1px solid #032759;
    border-radius: 10px;
    background-color: #032759;
    cursor: pointer;
}

.voucer-card {
    background-color: #fff;
    margin: 10px;
    border: 1px solid black;
    width: 550px;
    border-radius: 8px;
    overflow: hidden;
}

.voucer-card img{
    width: 100%;
    height: 220px;
}

.claim {
    font-size: 16px;
    color: #E1E038;
    width: 100%;
    padding: 10px 10px;
    font-weight: bold;
    border: 1px solid #032759;
    border-radius: 10px;
    background-color: #032759;
    cursor: pointer;
}

.kumpulan-voucer-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 65px;
}

.voucher {
    margin: 95px 35px;
    font-family: "Poppins", sans-serif;
}

.footer2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.Game {
    margin: 95px 35px;
    font-family: "Poppins", sans-serif;
}

.Menu-game {
    margin: 95px 35px 26px;
}

.pilihan-Game label{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-right: 20px;
}

.pilihan-Game input{
    accent-color: #E1E038;
}

.pilihan-Game {
    padding: 5px 16px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 20px;
    color: #E1E038;
    background-color: #032759;
}

.Game-lain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 18px;
}

.lainnya p{
    display: flex;
    font-size: 25px;
    font-weight: 700;
    font-family: "Pixelify Sans", sans-serif;
    justify-content: center;
}

.kumpulan-game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 30px;
}


.history-pembelian {
    margin: 95px 35px;
}

.card-history {
    background-color: #fff;
    margin: 10px;
    border: 1px solid black;
    width: 500px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

.card-history img{
    height: 100%;
}

.card-content-history {
    margin: 10px 92px 10px 20px;
}

.notifikasi {
    margin: 10px;
    border: 1px solid #032759;
    padding: 4px 10px;
    width: 95px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color: #032759;
    color: #E1E038;
}

